:root {
  /* Colors */
  --white-backgound: #eff0f0;
  --lightmode-background: #fdfcf7;
  --primary: #cbc74d;
  --lightmode-text: #fbf9ef;
  --darkmode-text: #100e04;
  --darkish: #151414;
  --footer-background: #0a0e10;

  /* Fonts */
  --default-font: "Inter", sans-serif;
  --inter: "Inter", sans-serif;
  --poppins: "Poppins", sans-serif;
  --josefin-slab: "Josefin Slab", serif;
  --system-ui: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  /* Testing */
  --red-border: 3px dotted red;
  --green-outline: 2px dashed green;
}

/* Scrollbar */
* {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #413e41 #252222;
  scroll-behavior: smooth;
  user-select: none;
}
*::-webkit-scrollbar {
  width: 1rem;
}
*::-webkit-scrollbar-track {
  background: #252222;
}
*::-webkit-scrollbar-thumb {
  background-color: #413e41;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

/* TODO: Light mode scrollbar */

/* * {
  scrollbar-width: thin;
  scrollbar-color: #413e41 #ededed;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ededed;
}

*::-webkit-scrollbar-thumb {
  background-color: #413e41;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
*/ *,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  background: var(--white-backgound);
  height: 300vh;
  max-width: 100%;
  font-family: var(--default-font);
}

.inner {
  margin-block: 5rem;
  margin-inline: auto;
  width: 576px;
  font-size: 1.25rem;
  max-width: 100%;
}

.paragraph-1 {
  font-family: var(--inter);
}
.paragraph-2 {
  font-family: var(--josefin-slab);
}
.paragraph-3 {
  font-family: var(--system-ui);
  font-weight: 400;
}

.navbar{
  display: flex;
  justify-content: center;
  text-align: center;
}

.nav-list{
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.mode{
  position: absolute;
  right: .5rem;
  /* background: black; */
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border: 1px solid grey;
  padding: .5rem;
}
.mode-btn{
  /* border: var(--green-outline); */
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background: #100e04;
}
.mode-img {
  width: 1.5rem;
  height: 1.5rem;
}
.mode-btn {
  background: none;
  border: none;
  cursor: pointer;
  margin: .25rem;
  border-radius: 50%;
}
.light .mode-img {
  filter: invert(100%);
}
.dark .mode-img {
  filter: invert(0%);
}

#backToTopBtn {
  display: none;
  position: fixed;
  z-index: 99;
  bottom: 1rem;
  right: 1rem;
  padding: 0.85rem;
  border-radius: 50%;
  border: none;
  outline: none;
  background: var(--darkish);
  animation: slide-up 150ms forwards;
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

/* @keyframes slide-back {
  0%{
    transform: translateY(0%);
  }
  100%{
    display: none;
    transform: translateY(75%);
  }
}
.slide-back{
  animation: slide-back 500ms forwards;
} */

#backToTopIcon {
  color: grey;
}
#backToTopBtn:hover {
  cursor: pointer;
}
#backToTopIcon:hover {
  color: var(--primary);
  transition: 0.2s ease-out;
}

.footer{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding-block: .75rem .5rem;
  margin-block: 3rem 0;
  background: var(--footer-background);
  color: var(--lightmode-text);
}

.btn input[type="checkbox"]{
  position: relative;
  width: 80px;
  height: 40px;
  appearance: none;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0 2px 2px #252222;
  inset:  0 -2px -2px #252222;
  transition: 0.5s;
  cursor: pointer;
}
.btn input:checked[type="checkbox"]{
  background: #252222;
  box-shadow: inset 0 2px 2px #fff;
  inset:  0 -2px -2px #fff;
}
.btn input[type="checkbox"]::before{
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  background: linear-gradient(to  bottom, #eaeaea, #f9f9f9);
  transition: 0.5s;
  inset:0 2px 2px #fff, 0 -2px -2px #fff;
}
.btn input:checked[type="checkbox"]::before{
  background: linear-gradient(to bottom, #444, #222);
  transform: translateX(40px);
  inset:0 2px 2px #ffffff33, 0 -2px -2px #ffffff33;
}